extends layout

block content
  for msg in messages
    div.msgs
      p.msgsTitle= msg.msgTitle
      p.msgsBod= msg.msgBody
      div.poster
        if user
          p.post= msg.postedBy.username
          p.post= msg.posted
          if user.isAdmin
            form(method="POST" action='' style='align-self: end')
              input(type='hidden' name='msgid' id='msgid' value=msg._id)
              button(type='submit' class='delBtn') &#128465;
        else 
          p.post Anonymous
          p.post Unknown